# Auto detect text files and perform LF normalization
* text=auto eol=lf

*.txt text
*.c   text
*.h   text

# Custom for Visual Studio
*.cs    diff=csharp

# Standard to msysgit
*.doc   diff=astextplain
*.DOC   diff=astextplain
*.docx  diff=astextplain
*.DOCX  diff=astextplain
*.dot   diff=astextplain
*.DOT   diff=astextplain
*.pdf   diff=astextplain
*.PDF   diff=astextplain
*.rtf   diff=astextplain
*.RTF   diff=astextplain

*.ico  binary
*.jpg  binary
*.png  binary
*.zip  binary
*.mp3  binary

# Ignore
/.github export-ignore
/bin export-ignore
/tests export-ignore
.* export-ignore
composer.json export-ignore
composer.lock export-ignore
package.json export-ignore
package-lock.json export-ignore
phpunit.xml export-ignore
